@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import url('primeicons/primeicons.css');


body {
    margin: 0;
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    img {
        height: 240px;
    }
}

@media only screen and (min-width: 421px) and (max-width: 768px) {
    img {
        height: 200px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 420px) {
    img {
        height: 180px;
    }
}

@media only screen and (max-width: 360px) {
    img {
        height: 140px;
    }
}